#parse("header.vm")
<tr>
   <td>
    <p align="justify">
    <font face="Arial" size="2">
	This report gives the summary of  files scheduled for AutoPurge from KT-9X $systemname on 
	$systemdatetime. Please find the actual report for purge status at $reportFile.</font>
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		
		<table border="0" width="75%" id="table2" style="border-collapse: collapse" bordercolor="#000000">
		        <tr>
				       <td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of IRs Scheduled:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$scheduledIr</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of IRs Purged:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$purgedIr</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">Number of Recipes Scheduled:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$scheduledRecipe</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp; Number of Recipes Purged:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$purgedRecipe</font></td>
    			</tr>
			</table>
        	<p>&nbsp;</p>
		    <p>&nbsp;</p>
	</td>
 </tr>
   
#parse("footer.vm")