#parse("header.vm")
<tr>
   <td>
    <p align="justify">
    <font face="Arial" size="2">
	This report lists files scheduled for AutoPurge from KT-9X $systemname on 
	$systemdatetime. FMIDs with "Success" Purge Status were successfully deleted from the KT-9X database.</font>
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		
		<table border="0" width="75%" id="table2" style="border-collapse: collapse" bordercolor="#000000">
		        <tr>
				       <td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of IRs Scheduled:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$scheduledIr</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of IRs Purged:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$purgedIr</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">Number of Recipes Scheduled:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$scheduledRecipe</font></td>
				</tr>
				<tr>
					<td  align="right" width="551">
						<font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp; Number of Recipes Purged:</font>
					</td>
					<td align="left"><font face="Arial" size="2">$purgedRecipe</font></td>
    			</tr>
			</table>
#set($irPurgeVector=$irPurgedStatus)
#set($noIrsPurged=$irPurgeVector.size() )
#set($irpugedCount= $noIrsPurged - 1 )
#set($irnotPurgedVector=$irnotPurgedStatus)
#set($noIrsnotPurged=$irnotPurgedVector.size() )
#set($irnotpugedCount= $noIrsnotPurged - 1 )
#if($noIrsPurged >0 || $noIrsnotPurged >0)

	       <p><b><font face="Arial" size="2">Purged IRs</font></b></p>
	
			<table border="1" id="table4" width="100%" style="border-collapse: collapse" bordercolor="#000000">
				<tr>
				    <td  align="center"><b><font size="2" face="Arial">Sl.No</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">FmId</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">Plate Name</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">Inspection Name</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">System Name</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">Inspection Date</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">Purge Status</font></b></td>
				    <td  align="center"><b><font size="2" face="Arial">Backup Status</font></b></td>

				</tr>
#set($slNo = 1)
#if($noIrsPurged >0)		
#foreach($index in [0..$irpugedCount])
				<tr>


				        <td ><font size="2" face="Arial">$slNo</font></td>
#set($slNo = $slNo + 1)

					<td ><font size="2" face="Arial">$irPurgeVector.elementAt($index).getFmId()</font></td>
					<td ><font size="2" face="Arial">$irPurgeVector.elementAt($index).getSetName()</font></td>
					<td ><font size="2" face="Arial">$irPurgeVector.elementAt($index).getExtensionName()</font></td>
					<td ><font size="2" face="Arial">$irPurgeVector.elementAt($index).getSystemName()</font></td>
                                        <td ><font size="2" face="Arial">$irPurgeVector.elementAt($index).getInspectionStartDateTimeStr()</font></td>
					<td bgcolor="#00FF00"><font face="Arial" size="2">&nbsp;Success</font></td>
#if($irPurgeVector.elementAt($index).isIsbackup())
					<td bgcolor="#008080"><font face="Arial" size="2">&nbsp;Backup taken</font></td>
#else
					<td bgcolor="#808000"><font face="Arial" size="2">&nbsp;No backup taken</font></td>
#end
		                   </tr>
#end
#end
#if($noIrsnotPurged >0)
#foreach($index in [0..$irnotpugedCount])
				 <tr>
				        <td ><font size="2" face="Arial">$slNo</font></td>
#set($slNo = $slNo + 1)

					<td ><font size="2" face="Arial">$irnotPurgedVector.elementAt($index).getFmId()</font></td>
					<td ><font size="2" face="Arial">$irnotPurgedVector.elementAt($index).getSetName()</font></td>
					<td ><font size="2" face="Arial">$irnotPurgedVector.elementAt($index).getExtensionName()</font></td>
					<td ><font size="2" face="Arial">$irnotPurgedVector.elementAt($index).getSystemName()</font></td>
                                        <td ><font size="2" face="Arial">$irnotPurgedVector.elementAt($index).getInspectionStartDateTimeStr()</font></td>
					<td bgcolor="#FF0000"><font face="Arial" size="2">&nbsp;Failure</font></td>
					<td bgcolor="#808000"><font face="Arial" size="2">&nbsp;No backup taken </font></td>
				</tr>
#end
#end                       

				

			</table>
#end
#set($recipePurgeVector=$recipePurgedStatus)
#set($noRecipesPurged=$recipePurgeVector.size() )
#set($recipepurgedCount= $noRecipesPurged - 1)
#set($recipenotPurgeVector=$recipenotpurgedStatus)
#set($noRecipesnotPurged=$recipenotPurgeVector.size() )
#set($recipenotpurgedCount= $noRecipesnotPurged - 1)
#if($noRecipesPurged >0 || $noRecipesnotPurged >0)


	                <p><b><font face="Arial" size="2">Purged Recipes</font></b></p>
			
			<table border="1" id="table4" width="100%" style="border-collapse: collapse" bordercolor="#000000">
				<tr>
				    <td  align="center" height="21"><b><font size="2" face="Arial">Sl.No</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">FmId</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">Recipe Name</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">System Name</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">Inserted Date</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">Purge Status</font></b></td>
					<td  align="center" height="21"><b><font size="2" face="Arial">Bacup Status</font></b></td>

				</tr>
#set($slNo = 1)	
#if($noRecipesPurged >0)
#foreach($index in [0..$recipepurgedCount])

				<tr>

                                                <td ><font size="2" face="Arial">$slNo</font></td>
#set($slNo = $slNo + 1)

						<td ><font size="2" face="Arial">$recipePurgeVector.elementAt($index).getFmId()</font></td>
						<td ><font size="2" face="Arial">$recipePurgeVector.elementAt($index).getSetName()</font></td>
                                                <td >$recipePurgeVector.elementAt($index).getSystemName()</font></td>
                                                <td><font size="2" face="Arial">$recipePurgeVector.elementAt($index).getInsertedDateTimeStr()</font></td>
						<td bgcolor="#00FF00"><font face="Arial" size="2">&nbsp;Success</font></td>
#if($recipePurgeVector.elementAt($index).isIsbackup())
						<td bgcolor="#008080"><font face="Arial" size="2">&nbsp;Backup taken</font></td>
#else
						<td bgcolor="#808000"><font face="Arial" size="2">&nbsp;No  backup taken</font></td>
#end

				</tr>
#end
#end
#if($noRecipesnotPurged >0)
#foreach($index in [0..$recipenotpurgedCount])

				<tr>


                                                <td ><font size="2" face="Arial">$slNo</font></td>
#set($slNo=$slNo+1)
						<td ><font size="2" face="Arial">$recipenotPurgeVector.elementAt($index).getFmId()</font></td>
						<td ><font size="2" face="Arial">$recipenotPurgeVector.elementAt($index).getSetName()</font></td>
                                                <td ><font size="2" face="Arial">$recipenotPurgeVector.elementAt($index).getSystemName()</font></td>
                                                <td><font size="2" face="Arial">$recipenotPurgeVector.elementAt($index).getInsertedDateTimeStr()</font></td>
						<td bgcolor="#FF0000"><font face="Arial" size="2">&nbsp;Failure</font></td>
						<td bgcolor="#808000"><font face="Arial" size="2">&nbsp;No  backup taken</font></td>

				</tr>
#end
#end
			</table>
#end
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <table border="0" width="75%" id="table2" style="border-collapse: collapse" bordercolor="#000000">
		    	<tr>
		    		<td width="30" bgcolor="#00FF00"></td>
		    		<td><font face="Arial" size="2">&nbsp;Purge success</font></td>
		       	
		    		<td width="30" bgcolor="#FF0000"></td>
		    		<td><font face="Arial" size="2">&nbsp;Purge failed</font></td>
		       
		    		<td width="30" bgcolor="#008080"></td>
		    		<td><font face="Arial" size="2">&nbsp;Backup taken </font></td>
		       
		    		<td width="30" bgcolor="#808000"></td>
		    		<td><font face="Arial" size="2">&nbsp;No backup taken</font></td>
		       	</tr>
               
		    </table>
		    
	    <p>&nbsp;</p>
		    <p>&nbsp;</td>
</tr>
#parse("footer.vm")