<?xml version="1.0" encoding="UTF-8"?>
<Inspection>
#parse("inspgeneral.vm")
#parse("recipe.vm")
#parse("defectlist.vm")    
#if($plateAlignImagesSelected=="1")  
		<PalateAlignmentImages>
          <RferenceImage>$util.getImage(0)</RferenceImage>
          <RferenceImageHeight>$util.getImageHeight(0)</RferenceImageHeight>
          <RferenceImageWidth>$util.getImageWidth(0)</RferenceImageWidth>
          <RferenceImageDataLength>$util.getImageDataLength(0)</RferenceImageDataLength>
          <PrimaryImage>$util.getImage(1)</PrimaryImage>
          <PrimaryImageHeight>$util.getImageHeight(1)</PrimaryImageHeight>
          <PrimaryImageWidth>$util.getImageWidth(1)</PrimaryImageWidth>
          <PrimaryImageDataLength>$util.getImageDataLength(1)</PrimaryImageDataLength>
          <SecondaryImage>$util.getImage(2)</SecondaryImage>
          <SecondaryImageHeight>$util.getImageHeight(2)</SecondaryImageHeight>
          <SecondaryImageWidth>$util.getImageWidth(2)</SecondaryImageWidth>
          <SecondaryImageDataLength>$util.getImageDataLength(2)</SecondaryImageDataLength>
          <TertiaryImage>$util.getImage(3)</TertiaryImage>
          <TertiaryImageHeight>$util.getImageHeight(3)</TertiaryImageHeight>
          <TertiaryImageWidth>$util.getImageWidth(3)</TertiaryImageWidth>
          <TertiaryImageDataLength>$util.getImageDataLength(3)</TertiaryImageDataLength>
        </PalateAlignmentImages> 
#end         
</Inspection>


