	<tr>
		<td bgcolor="#25215E" height="5"><p align="center"><font face="Arial" size="1" color="#FFFFFF">Copyright © 1998-2011 KLA-Tencor Corporation, Inc. All Rights Reserved.</font></td>
	</tr>
</table>
</body>
</html>
