<html>

<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>KLA-Tencor Inspection Statistics Report </title>
<style>
	table
	{
		border-size:0.5px;
		border-color:#000000;
	}
	td
	{
		font-family:Arial;
		font-size:14px;
		border-size:0.5px;
		border-color:#000000;
		background-color:#FFFFFF;
		height:35px;
		text-align:center;
	}
	td.capture100
	{
		font-family:Arial;
		font-size:14px;
		border-size:0.5px;
		border-color:#000000;
		background-color:#C0C0C0;
		text-align:center;
		height:35px;
	}
	td.capture100withspec
	{
		font-family:Arial;
		font-size:14px;
		border-size:0.5px;
		border-color:#000000;
		background-color:#333333;
		color:#FFFFFF;
		text-align:center;
		height:35px;
	}
	td.captureless100withspec
	{
		font-family:Arial;
		font-size:14px;
		border-size:0.5px;
		border-color:#000000;
		background-color:#FF0000;
		text-align:center;
		height:35px;
	}
</style>
</head>

<body>
<font face="Arial" size="4">
<p align="center"><b>Inspection Statistics Report </b></p>
</font>
<font face="Arial" size="2">
List of inspection reports used in the analysis:
<ol>
#set ( $selectedIrs = $sense.getInspectionIRVector())
#foreach($selectedIr in $selectedIrs)
<li>$selectedIr.getPlateName().$selectedIr.getIrName() (FM_ID: $selectedIr.getFmId())</li>
#end
</ol>
Date: <B>$date</B><BR/>
Refernce File used: <B>$util.format($sense.getReferenceFileName())</B><BR/>
Specification File: <B>$util.format($sense.getSpecFileName())</B><BR/>
#set ($inspectionStation = "")
#set ($delim = "")
#if($inspectionStations.size() >0)
#foreach($station in $inspectionStations)
#set($inspectionStation = $inspectionStation + $delim +	$util.format($station))
#set ($delim = ",")
#end
#end
InspectionStation:<B>$inspectionStation</B><BR/>
KT9XE System:<B>$util.format($kt9xsystem)</B><BR/>
Match Range Type :<B>$util.format($matchRangeType)</B><BR/>
#set ($delim = "")
#set ($pexelsizes = "")
#if($pixelSizeList.size() >0)
#foreach($pSize in $pixelSizeList)
#set ($pexelsizes = $pexelsizes + $delim +	$pSize)
#set ($delim = ",")
#end
#end
Pixel:<B>$pexelsizes</B><BR/>
Surface:<B>$util.format($sense.getSurface())</B> <BR />
Area of Interest: <BR />
</font>
<table border="1" style="border-collapse: collapse;">
	<tr>
		<td> </td>
		<td> <b>X</b> </td>
		<td> <b>Y</b> </td>
		<td> <b>Units</b> </td>
	</tr>
	<tr>
		<td align="right"> Lower Left </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getLowerLeftX(), 1000.0)) </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getLowerLeftY(), 1000.0)) </td>
		<td> micron </td>
	</tr>
	<tr>
		<td align="right"> Upper Right </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getUpperRightX(), 1000.0)) </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getUpperRightY(), 1000.0)) </td>
		<td> micron </td>
	</tr>
	<tr>
		<td align="right"> Reference Location Offset </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getLocOffsetX(), 1000.0)) </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getLocOffsetY(), 1000.0)) </td>
		<td> micron </td>
	</tr>
	<tr>
		<td align="right"> Match Range </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getMatchRange(), 1000.0)) </td>
		<td> $util.formatWidth("1",3, $sense.divide($sense.getMatchRange(), 1000.0)) </td>
		<td> micron </td>
	</tr>
</table><BR/>
#set($summary = $analysisAlgo.getSummary())
#set($rowVector = $summary.getRowVector())
#set($colVector = $summary.getColVector())
#set($rowSize = $rowVector.size() - 1)
#set($colSize = $colVector.size() - 1)
#set ($totColSpan = ($colSize + 1) * 3 + 1)
<table border="1" style="border-collapse: collapse; border-right: 2px solid black; border-left: 2px solid black;  border-top: 2px solid black;  border-bottom: 2px solid black;">
	<tr>
		<td colspan="$totColSpan"><p align="center"><font face="Arial" size="2"> <b>Summary Statistics </b>  </font></p> </td>
	</tr>
	<tr>
		<td rowspan="2" style="border-right: 2px solid black;">Coordinate</td>
#set($colVal = 0)
#foreach($colDefect in $colVector)
#set ($colDefect = $summary.getDefectByRowCol(0, $colVal,0))
		<td colspan="3" style="border-right: 2px solid black;">$util.format($util.getCoordinateX($colDefect.getCoordinate()))</td>
#set($colVal = $colVal + 1)
#end
	</tr>
	<tr>
#foreach($colDefect in $colVector)
		<td>Size</td>
		<td>Capture rate</td>
		<td style="border-right: 2px solid black;">Spec</td>
#end
	</tr>
#foreach($row in [0..$rowSize])
	<tr>
#foreach($col in [0..$colSize])
#set ($defect = $summary.getDefectByRowCol($row, $col,1))
#ifnotnull($defect)
#if($col == 0)
		<td style="border-right: 2px solid black;">$util.format($util.getCoordinateY($defect.getCoordinate()))</td>
#end
#set($colorClass = "")
#if($defect.getSpecValue() > 0 && $defect.getCaptureRate() == 100)
#set($colorClass = "capture100withspec")
#elseif($defect.getCaptureRate() == 100)
#set($colorClass = "capture100")
#elseif($defect.getCaptureRate() < 100 && $defect.getSpecValue() > 0)
#set($colorClass = "captureless100withspec")
#end
		<td class="$colorClass">$util.formatWidth("1",3, $sense.divide($defect.getDefectSizeX(), 1000.0))</td>
		<td class="$colorClass">$util.format($defect.getCaptureRate())</td>
#if($defect.getSpecValue()==0)
		<td class="$colorClass" style="border-right: 2px solid black;">&nbsp;</td>
#else
		<td class="$colorClass" style="border-right: 2px solid black;">$util.formatWidth("1",3,$sense.divide($defect.getSpecValue(),1000.0))</td>
#end
#end
#end
	</tr>
#end
	<tr>
		<td style="border-right: 2px solid black; ">100% capture by column</td>
#set($colCnt=0)
#foreach($colDefect in $colVector)
		<td colspan="3" style="border-right: 2px solid black;">$summary.getCaptureColumnCount($colCnt) </td>
#set($colCnt=$colCnt + 1)
#end
	</tr>
</table>
<BR />
#set($defectVector = $summary.getSummaryDefectVector())
#set($isUnMatchedDefect = false)
#foreach($defect in $defectVector )
#if(!$defect.isMatchDefect())
#set($isUnMatchedDefect = true)
#break
#end
#end
#if($isUnMatchedDefect)
<table border="1" style="border-collapse: collapse;">
	<tr>
		<td colspan="3"><p align="center"><font face="Arial" size="2"> <b> Coordinates of all unmatched defects </b>  </font></p> </td>
	</tr>
	<tr>
		<td>Index</td>
		<td>X</td>
		<td>Y</td>
	</tr>
#set($index = 1)
#foreach($defect in $defectVector )
#if(!$defect.isMatchDefect())
	<tr>
		<td>$index</td>
		<td>$util.format($util.getCoordinateX($defect.getCoordinate()))</td>
		<td>$util.format($util.getCoordinateY($defect.getCoordinate()))</td>
	</tr>
#set($index = $index + 1)
#end
#end
</table>
<BR />
#end
#set($irCount = 0)
#set ( $analysisVector = $analysisAlgo.getInspectionAnalysisVector())
#foreach($analysis in $analysisVector )
#set($irCount = $irCount + 1)
#set($rowVector = $analysis.getRowVector())
#set($colVector = $analysis.getColumnVector())
#set($rowSize = $rowVector.size() - 1)
#set($colSize = $colVector.size() - 1)
#set ($totColSpan = ($colSize + 1) * 3 + 1)
#set($irData = $analysis.getIrData())
<table border="1" style="border-collapse: collapse;border-right: 2px solid black; border-left: 2px solid black; border-top: 2px solid black; border-bottom: 2px solid black;">
	<tr>
		<td colspan="$totColSpan"><p align="left"><font face="Arial" size="2"> <b>Inspection $irCount Statistics [$irData.getIrName()] </b>  </font></p> </td>
	</tr>
	<tr>
		<td colspan="$totColSpan"><p align="center"><font face="Arial" size="2"> <b>Summary Statistics </b>  </font></p> </td>
	</tr>
	<tr>
		<td rowspan="2" style="border-right: 2px solid black;">Coordinate</td>
#set($colVal = 0)
#foreach($colDefect in $colVector)
#set ($colDefect = $analysis.getDefectByRowCol(0, $colVal,0))
		<td colspan="3" style="border-right: 2px solid black;">$util.format($util.getCoordinateX($colDefect.getCoordinate()))</td>
#set($colVal = $colVal + 1)
#end
	</tr>
	<tr>
#foreach($colDefect in $colVector)
		<td>Size</td>
		<td>Capture rate</td>
		<td style="border-right: 2px solid black;">Spec</td>
#end
	</tr>
#foreach($row in [0..$rowSize])
	<tr>
#foreach($col in [0..$colSize])
#set ($defect = $analysis.getDefectByRowCol($row, $col,1))
#ifnotnull($defect)
#if($col == 0)
		<td  style="border-right: 2px solid black;">$util.format($util.getCoordinateY($defect.getCoordinate()))</td>
#end
#set($colorClass = "")
#if($defect.getSpecValue() > 0 && $defect.getPerInspectionCaptureRate() == 100)
#set($colorClass = "capture100withspec")
#elseif($defect.getPerInspectionCaptureRate() == 100)
#set($colorClass = "capture100")
#elseif($defect.getPerInspectionCaptureRate() < 100 && $defect.getSpecValue() > 0)
#set($colorClass = "captureless100withspec")
#end
		<td class="$colorClass">$util.formatWidth("1",3, $sense.divide($defect.getDefectSizeX(), 1000.0))</td>
		<td class="$colorClass">$util.format($defect.getPerInspectionCaptureRate())</td>
#if($defect.getSpecValue()==0)
		<td class="$colorClass"  style="border-right: 2px solid black;">&nbsp;</td>
#else
		<td class="$colorClass"  style="border-right: 2px solid black;">$util.formatWidth("1",3,$sense.divide($defect.getSpecValue(),1000.0))</td>
#end
#end
#end
	</tr>
#end
	<tr>
		<td style="border-right: 2px solid black; ">100% capture by column</td>
#set($colCnt=0)
#foreach($colDefect in $colVector)
		<td colspan="3" style="border-right: 2px solid black;">$analysis.getCaptureColumnCount($colCnt) </td>
#set($colCnt=$colCnt + 1)
#end
	</tr>
</table>
<BR />
#set($defectVector = $analysis.getDefectVector())
#set($isUnMatchedDefect = false)
#foreach($defect in $defectVector )
#if(!$defect.isMatchDefect())
#set($isUnMatchedDefect = true)
#break
#end
#end
#if($isUnMatchedDefect)
<table border="1" style="border-collapse: collapse;">
	<tr>
		<td colspan="5"><p align="center"><font face="Arial" size="2"> <b> Coordinates of all unmatched defects </b>  </font></p> </td>
	</tr>
	<tr>
		<td>Index</td>
		<td>X</td>
		<td>Y</td>
		<td>System Classification</td>
		<td>User Classification</td>
	</tr>
#set($index = 1)
#foreach($defect in $defectVector )
#if(!$defect.isMatchDefect())
	<tr>
		<td>$index</td>
		<td>$util.format($util.getCoordinateX($defect.getCoordinate()))</td>
		<td>$util.format($util.getCoordinateY($defect.getCoordinate()))</td>
		<td>$util.format($defect.getSystemClassification())</td>
		<td>$util.format($defect.getUserClassification())</td>
	</tr>
#set($index = $index + 1)
#end
#end
</table>
<BR />
#end
#end
<font face="Arial" size="1"><p align="center">Copyright (c) 1998-2011 KLA-Tencor Corporation, Inc.</p></font>
</body>
</html>
