			<InspectionAreaList>
#set($id = 0)	
#set($version = $insp.getIRVersion())
#set ( $inspAreaList = $insp.getRecipe().getInspectionAreaArray())	
#foreach($inspArea in $inspAreaList)
#if($inspArea.getInspTypeFromIr() != 0)
#if($inspArea.getInspectionType() == 100)
$inspArea.setInspectionTypeFromIR($inspArea.getInspTypeFromIr())
#end
#end
#if(!$inspArea.isBlankInspectionArea())
#if($version >= 101)
#set($id=$inspArea.getInspectionAreaID())
#else
#set($id = $id + 1)
#end
				<InspectionArea 
					Id="$util.format($id)" 
					CompositeView="$util.getInspAreaCompositeView($inspArea)" 
					InspectionType="$util.format($util.getInspectionTypeStr($inspArea))" 
					Algo="$util.format($util.getAlgo($inspArea))" 
					AlgoVersion="$util.format($inspArea.getAlgoVersion())"
					Surface="$util.format($util.getSurfaceStr($inspArea))" 
					Shape="$util.format($util.getShapeStr($inspArea))">
#set($shape=$inspArea.getShape())
#if($shape==1)
					<Center
						X="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),0,true))" 
					  	Y="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),0,false))" />
						<Radius>$util.format($inspArea.getRadius())</Radius>
#else
					<Center X="" Y="" />
					<Radius></Radius>
#end
#if($shape==0)
					<BottomLeftCorner 
						X="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),0,true))" 
						Y="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),0,false))" />
					<TopRightCorner 
						X="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),1,true))" 
						Y="$util.format($util.getPoint($inspArea.getInspAreaPointsArray(),1,false))" />
#else
					<BottomLeftCorner X="" Y="" />
					<TopRightCorner X="" Y="" />
#end
					<DieCount
						X="$util.format($util.getInspectionAreaDieCount($inspArea.getDieCount(),true))" 
						Y="$util.format($util.getInspectionAreaDieCount($inspArea.getDieCount(),false))" />
					<DieSize
						X="$util.format($util.getCoordinateX($inspArea.getDieSize()))" 
						Y="$util.format($util.getCoordinateY($inspArea.getDieSize()))" />
					<DiePitch 
						X="$util.format($util.getCoordinateX($inspArea.getDiePitch()))" 
						Y="$util.format($util.getCoordinateY($inspArea.getDiePitch()))" />#*
					<CellPitch 
						X="$util.format($util.getCoordinateX($inspArea.getCellPitch()))" 
						Y="$util.format($util.getCoordinateY($inspArea.getCellPitch()))" />*#
					<DieFirstLeft  
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),0,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),0,false))" />
					<DieFirstRight 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),1,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),1,false))" />
					<DieNextLeft 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),2,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),2,false))" />
					<DieLastRight 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),3,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),3,false))" />
					<DieFirstBottom 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),4,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),4,false))" />
					<DieFirstTop 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),5,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),5,false))" />
					<DieNextBottom 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),6,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),6,false))" />
					<DieLastTop 
						X="$util.format($util.getPoint($inspArea.getDiePointArray(),7,true))" 
						Y="$util.format($util.getPoint($inspArea.getDiePointArray(),7,false))" />
#set($row=$util.getDropoutHeight($inspArea))				
					<Dropout>
#foreach($index in [$row ..0])
#if($index > 0)
						<Row>$util.format($util.getDropoutRow($inspArea,$index))</Row>
#end
#end
					</Dropout>
#parse("sensitivity.vm")#*
#set($capParam=$inspArea.getCaptureParams())
#ifnotnull($capParam)
					<CaptureParameters
						TdiImgHeight="$util.format($capParam.getTdiImgColHeight())" 
						SwBtmTopUnusablePixs="$util.format($capParam.getSwBottomUnusablePixs())" 
						SwTopUnusablePixs="$util.format($capParam.getSwTopUnusablePixs())" 
						MaxP0P1YOffsetPix="$util.format($capParam.getMaxP0P1YOffset())" 
						AlgoOverlap="$util.format($capParam.getAlgoOvlp())" 
						ArfName="$util.format($util.getCaptureParamArfName($capParam))" />
#end
#ifnull($capParam)
					<CaptureParameters
						TdiImgHeight="" 
						SwBtmTopUnusablePixs="" 
						SwTopUnusablePixs="" 
						MaxP0P1YOffsetPix="" 
						AlgoOverlap="" 
						ArfName="" />
#end *#
#parse("lightcalibration.vm")
#*#parse("piicalightcalibration.vm")*#
#parse("psccalibration.vm")
#parse("starlightcalibration.vm")
#ifnotnull($inspArea.getSenseRegion())
#set($noOfregion=$inspArea.getSenseRegion().getNumRegions())
#if($noOfregion > 0)
#set($noOfregion = $noOfregion - 1 )
					<SenseRegionList>
#foreach($iteration in [0..$noOfregion])
						<SenseRegion 
							Type="$util.format($util.getSenseRegionStr($inspArea,$iteration))" >
							  <Origin
									X="$util.format($util.getPoint($inspArea.getSenseRegion().getRegOrigin(),$iteration,true))" 
							      	Y="$util.format($util.getPoint($inspArea.getSenseRegion().getRegOrigin(),$iteration,false))" />
							  <RowColumn 
								Row="$util.format($util.getRegionCount($inspArea,$iteration,false))" 
								Column="$util.format($util.getRegionCount($inspArea,$iteration,true))" />
							  <Size
							  	X="$util.format($util.getPoint($inspArea.getSenseRegion().getRegSize(),$iteration,true))" 
								Y="$util.format($util.getPoint($inspArea.getSenseRegion().getRegSize(),$iteration,false))" />
							  <Pitch 
								X="$util.format($util.getPoint($inspArea.getSenseRegion().getRegPitch(),$iteration,true))" 
								Y="$util.format($util.getPoint($inspArea.getSenseRegion().getRegPitch(),$iteration,false))" />
						</SenseRegion>
#end
					</SenseRegionList>
#else
					<SenseRegionList>
						<SenseRegion 
							Type="" >
							  <Origin 
							  		X="" 
							      	Y="" />
							  <RowColumn 
								Row="" 
								Column="" />
							  <Size
							  	X="" 
								Y="" />
							  <Pitch 
								X="" 
								Y="" />
						</SenseRegion>
					</SenseRegionList>
#end
#end
#ifnull($inspArea.getSenseRegion())
					<SenseRegionList>
						<SenseRegion 
							Type="" >
							  <Origin
							  	X="" 
							      	Y="" />
							  <RowColumn 
								Row="" 
								Column="" />
							  <Size
							  	X="" 
								Y="" />
							  <Pitch 
								X="" 
								Y="" />
						</SenseRegion>
					</SenseRegionList>
#end
#*					<LprAlgo>$util.format($inspArea.getLprAlgo())</LprAlgo>
#parse("lprsensitivity.vm")
					<PiicAlgoName>$util.format($util.getPiicAlgoNames($inspArea))</PiicAlgoName>
#parse("piicview.vm")
#parse("piiccaptureparams.vm")
#parse("piicsensitivity.vm")
					<PiidDefectSelection></PiidDefectSelection>*#
				</InspectionArea>
#end
#end
			</InspectionAreaList>
