#set($systemType=$insp.getSystemType())
#set($lCalComp = $inspArea.getLightCal().getLightCalComposite())
#ifnotnull($lCalComp)
#set($lCal5xx = $util.getLightCalVal5xx($lCalComp))
#set($isEnhancedView = $util.isLCalViewNameIsEnhancedView($inspArea))
					<LightCalibration
						ViewName="$util.getLCalViewName($inspArea)" 
						Method="$util.format($util.getLightCalMethod($lCalComp.getMethod()))" >
						<SinglePointLightCalibration 
#if($systemType <= 8 )
							MeasureTransmitted="$util.formatBehavior($lCalComp.getMeasureTrans())" 
							MeasureReflected="$util.formatBehavior($lCalComp.getMeasureRefl())"
#else
 							MeasureTransmitted=""#* For 6xx Irs it is blank.*# 
							MeasureReflected=""
#end
#if($systemType < 8)
							TransmittedBlackGoal="$util.format($util.getHexVal($lCalComp.getTransBlackGoal()))" 
							TransmittedWhiteGoal="$util.format($util.getHexVal($lCalComp.getTransWhiteGoal()))"
							ReflectedBlackGoal="$util.format($util.getHexVal($lCalComp.getReflBlackGoal()))"
							ReflectedWhiteGoal="$util.format($util.getHexVal($lCalComp.getReflWhiteGoal()))" 
#else
							TransmittedBlackGoal="" 
							TransmittedWhiteGoal=""
							ReflectedBlackGoal=""
							ReflectedWhiteGoal="" 
#end
#set($plateTypeLength =  $util.getPlateTypeStrLength())
#set($points = $lCalComp.getLightCalPointsArray().size())
#set($flag = 0 )
#if($systemType >= 8 )
#if($plateTypeLength == 0 ||  $points <= 1)
							ActualBlack="$util.format($util.getLCalActualBlack($lCal5xx))" 
							ActualWhite="$util.format($util.getLCalActualWhite($lCal5xx))" 
#set($bwRadio = $util.getBWRatio($lCal5xx))
							BlackWhiteRatio="$util.format($bwRadio)" >
#else
							ActualBlack="" 
							ActualWhite="" 
							BlackWhiteRatio="" >
#end
#else
							ActualBlack="" 
							ActualWhite="" 
							BlackWhiteRatio="" >
#end
							<LightCalPoints>
#if($points <= 1 || $plateTypeLength == 0 )
#set($points = $points - 1)
#foreach($iteration in [0..$points])
#set($flag = 1)
								<LightCalPoint 
									X="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$iteration,true))"
									Y="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$iteration,false))" />
#end
#else
								<LightCalPoint 
									X=""
									Y="" />
#end
							</LightCalPoints>
							<Materials>
#set($materials = $lCalComp.getLightCalPointsArray().size())
#set($materialVector = $insp.getRecipe().getMaterialPropData())
#set($materials = $materials - 1)
#if( $materials >= 0 && $systemType == 8  && $flag != 1 && $materialVector.size() > 0)
#foreach($index in [0..$materials])
								<Material 
									Name="$util.format($util.getLCal5xxValue($index))">			
									<Point  
										X="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$index,true))" 
										Y="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$index,false))"/>
#if( $isEnhancedView == 0 )
									<TransmitedGoal>$materialVector.elementAt($index).getTransGS()</TransmitedGoal>
									<ReflectedGoal>$materialVector.elementAt($index).getReflGS()</ReflectedGoal>
#else
									<TransmitedGoal>$materialVector.elementAt($index).getTransIGS()</TransmitedGoal>
									<ReflectedGoal>$materialVector.elementAt($index).getReflIGS()</ReflectedGoal>
#end
									<TransmitedGrayScale>$lCal5xx.getMeasuredTransGS($index)</TransmitedGrayScale>
									<ReflectedGrayScale>$lCal5xx.getMeasuredReflGS($index)</ReflectedGrayScale>
								</Material>
#end
#else
								<Material 
									Name="">			
									<Point  
										X="" 
										Y=""/>
									<TransmitedGoal></TransmitedGoal>
									<ReflectedGoal></ReflectedGoal>
									<TransmitedGrayScale></TransmitedGrayScale>
									<ReflectedGrayScale></ReflectedGrayScale>
								</Material>
#end
							</Materials>
#if( $systemType == 8 )
								<Digitizer>
									<TransmittedGain>$util.format($util.convertLCalIntToDecimal($util.getLCal5xxValue($lCal5xx.getGlobalGain(),0), 1000000.0))</TransmittedGain>
									<TransmittedOffset>$util.format($util.getLCal5xxValue($lCal5xx.getGlobalOffset(), 0))</TransmittedOffset>
									<ReflectedGain>$util.format($util.convertLCalIntToDecimal($util.getLCal5xxValue($lCal5xx.getGlobalGain(), 1), 1000000.0))</ReflectedGain>
									<ReflectedOffset>$util.format($util.getLCal5xxValue($lCal5xx.getGlobalOffset(), 1))</ReflectedOffset>
								</Digitizer>
#else
								<Digitizer>
									<TransmittedGain></TransmittedGain>
									<TransmittedOffset></TransmittedOffset>
									<ReflectedGain></ReflectedGain>
									<ReflectedOffset></ReflectedOffset>
								</Digitizer>
#end
						</SinglePointLightCalibration>
						<MultiPointLightCalibration>
#if($systemType >= 9 )
#foreach($planeId in [0..1])
#set($lm = $util.getLCalLightMode($lCal5xx, $planeId))
							<MPLightCalibration>
								<Digitizers>
									<LcLightMode  
										Illum="$util.format($util.getLightModeStr($lCal5xx, $lm))"  
										LightLevel="$util.format($util.convertLCalIntToDecimal($util.getLCal5xxValue($lCal5xx.getLightLevel(), $lm), 10000.0))"  
										SplitRatio="$util.format($util.convertLCalIntToDecimal($util.getLCal5xxValue($lCal5xx.getSplitRatio(), $lm), 10000.0))" 
										Gain="$util.format($util.convertLCalIntToDecimal($util.getLCal5xxValue($lCal5xx.getGlobalGain(), $lm), 1000000.0))" 
										Offset="$util.format($util.getLCal5xxValue($lCal5xx.getGlobalOffset(), $lm))" 
										ActualBlack="$util.format($util.getLCal5xxValue($lCal5xx.getActualBlack(), $lm))">
									</LcLightMode>
								</Digitizers>
								<GoalValues>
									<LcLightMode 
										Illum="$util.format($util.getLightModeStr($lCal5xx, $lm))"   
										BlackGoal="$util.format($util.getLCal5xxValue($lCal5xx.getBlackGoal(), $lm))"
										WhiteGoal="$util.format($util.getLCal5xxValue($lCal5xx.getWhiteGoal(), $lm))"> 
									</LcLightMode>
								</GoalValues>
								<Materials>
#set($materials = $lCalComp.getLightCalPointsArray().size())
#set($materials = $materials - 1)
#if( $materials >= 0)
#foreach($index in [0..$materials])
									<Material 
										Name="$util.format($util.getLCal5xxValue($index))">			
										<Point  
											X="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$index,true))" 
											Y="$util.format($util.getPoint($lCalComp.getLightCalPointsArray(),$index,false))"/>
										<GrayScaleValue  	 
											Value="$util.format($util.getLCal5xxValue($lCal5xx.getActualGS(), $lm, $index))" 
											LightMode="$util.format($util.getLightModeStr($lCal5xx, $lm))">
										</GrayScaleValue>
									</Material>
#end
#else
									<Material 
										Name="">			
										<Point  
											X="" 
											Y=""/>
										<GrayScaleValue  	 
											Value="" 
											LightMode="">
										</GrayScaleValue>
									</Material>
#end
								</Materials>
							</MPLightCalibration>
#end
#else
							<MPLightCalibration>
								<Digitizers>
									<LcLightMode  
										Illum=""  
										LightLevel=""  
										SplitRatio="" 
										Gain="" 
										Offset="" 
										ActualBlack="">
									</LcLightMode>
								</Digitizers>
								<GoalValues>
									<LcLightMode 
										Illum=""   
										BlackGoal=""
										WhiteGoal=""> 
									</LcLightMode>
								</GoalValues>
								<Materials>
									<Material 
										Name="">			
										<Point  
											X="" 
											Y=""/>
										<GrayScaleValue  	 
											Value="" 
											LightMode="">
										</GrayScaleValue>
									 </Material>
								</Materials>
							</MPLightCalibration>
#end
						</MultiPointLightCalibration>
						<ThreeBeamLightCalibration>
#if($systemType == 2 || $systemType == 6)
                            <TransmittedSingleBeam
											TransmitedBlack="$util.format($util.getHexVal($lCalComp.getTbSB()))"
											TransmitedWhite="$util.format($util.getHexVal($lCalComp.getTwSB()))"
											TransmittedOffset="$util.format($lCalComp.getToffsetSB())"/>
							<ReflectedSingleBeam
											ReflectedBlack="$util.format($util.getHexVal($lCalComp.getRbSB()))"
											ReflectedWhite="$util.format($util.getHexVal($lCalComp.getRwSB()))"
											ReflectedGain="$util.format($lCalComp.getRGainSB())" />
											
							<TransmittedLower
											TransmitedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTb(), 0)))"
											TransmitedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTw(), 0)))"
											TransmittedOffset="$util.format($util.getLCal5xxValue($lCalComp.getToffset(), 0))"/>
							<ReflectedLower
											ReflectedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRb(), 0)))"
											ReflectedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRw(), 0)))"
											ReflectedGain="$util.format($util.getLCal5xxValue($lCalComp.getRGain(), 0))"/>
							<TransmittedMiddle
											TransmitedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTb(), 1)))"
											TransmitedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTw(), 1)))"
											TransmittedOffset="$util.format($util.getLCal5xxValue($lCalComp.getToffset(), 1))"/>
							<ReflectedMiddle
											ReflectedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRb(), 1)))"
											ReflectedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRw(), 1)))"
											ReflectedGain="$util.format($util.getLCal5xxValue($lCalComp.getRGain(), 1))"/>
							<TransmittedUpper
											TransmitedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTb(), 2)))"
											TransmitedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getTw(), 2)))"
											TransmittedOffset="$util.format($util.getLCal5xxValue($lCalComp.getToffset(), 2))"/>
							<ReflectedUpper
											ReflectedBlack="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRb(), 2)))"
											ReflectedWhite="$util.format($util.getHexVal($util.getLCal5xxValue($lCalComp.getRw(), 2)))"
											ReflectedGain="$util.format($util.getLCal5xxValue($lCalComp.getRGain(), 2))"/>
#else
							<TransmittedSingleBeam
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedSingleBeam
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedLower
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedLower
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedMiddle
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedMiddle
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedUpper
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedUpper
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
#end							
						</ThreeBeamLightCalibration>
					</LightCalibration>
#end
#ifnull($lCalComp)
					<LightCalibration
						ViewName="" 
						Method="" >
						<LightCalPoints>
								<LightCalPoint 
									X=""
									Y="" />
						</LightCalPoints>
						<SinglePointLightCalibration 
							MeasureTransmitted ="" 
							MeasureReflected="" 
							ActualBlack="" 
							ActualWhite="" 
							TransmittedBlackGoal="" 
							TransmittedWhiteGoal="" 
							BlackWhiteRatio="" 
							ReflectedBlackGoal="" 
							ReflectedWhiteGoal="">
							<LightCalPoints>
								<LightCalPoint 
									X=""
									Y="" />
							</LightCalPoints>
							<Materials>
								<Material 
									Name="">			
									<Point  
										X="" 
										Y=""/>
									<TransmitedGoal></TransmitedGoal>
									<ReflectedGoal></ReflectedGoal>
									<TransmitedGrayScale></TransmitedGrayScale>
									<ReflectedGrayScale></ReflectedGrayScale>
								</Material>
							</Materials>
							<Digitizer>
								<TransmittedGain></TransmittedGain>
								<TransmittedOffset></TransmittedOffset>
								<ReflectedGain></ReflectedGain>
								<ReflectedOffset></ReflectedOffset>
							</Digitizer>
						</SinglePointLightCalibration>
						<MultiPointLightCalibration>
							<Digitizers>
								<LightMode  
									Illum=""  
									LightLevel =""  
									SplitRatio="" 
									Gain="" 
									Offset="" 
									ActualBlack="">
								</LightMode>
							</Digitizers>
							<GoalValues>
								<LightMode 
									Illum=""   
									BlackGoal=""
									WhiteGoal=""> 
								</LightMode>
							</GoalValues>
							<Materials>
								<Material 
									Name="">			
									<Point  
										X="" 
										Y=""/>
									<GrayScaleValue  	 
										Value="" 
										LightMode="">
									</GrayScaleValue>
								</Material>
							</Materials>
						</MultiPointLightCalibration>
						<ThreeBeamLightCalibration>
							<TransmittedSingleBeam
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedSingleBeam
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedLower
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedLower
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedMiddle
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedMiddle
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
							<TransmittedUpper
											TransmitedBlack=""
											TransmitedWhite=""
											TransmittedOffset=""/>
							<ReflectedUpper
											ReflectedBlack=""
											ReflectedWhite=""
											ReflectedGain=""/>
						</ThreeBeamLightCalibration>
					</LightCalibration>
#end
