					<PIICSettings>
#set($piicViewSize=$inspArea.getPiicViewsSize())
#if($piicViewSize>0)
#set($views=$inspArea.getPiicViews())
#foreach($index in [0..$piicViewSize])
						<PiicView>
							<Compositeiew>
								<Name>$util.format($views.elementAt($index).getName())</Name>
								<Alias>$util.format($views.elementAt($index).getAlias())</Alias>
								<LightMode>$util.format($util.getLightModeStr($views.elementAt($index).getLightMode(),$index))</LightMode>
								<FocusOffset></FocusOffset>
								<Inactive>$util.format($util.formatBehavior($views.elementAt($index).getIsInactive()))</Inactive>
								<HighNA>$util.format($util.formatBehavior($views.elementAt($index).getIsHighNAView()))</HighNA>
							</Compositeiew>
						</PiicView>
#end
#else
						<PiicView>
							<Compositeiew>
								<Name></Name>
								<Alias></Alias>
								<LightMode></LightMode>
								<FocusOffset></FocusOffset>
								<Inactive></Inactive>
								<HighNA></HighNA>
							</Compositeiew>
						</PiicView>
#end
					</PIICSettings>
