					<PiicSettings>
						<Algorithm></Algorithm>
						<PixelSize>
							<PixelSize_X></PixelSize_X>
							<PixelSize_Y></PixelSize_Y>
							<Units></Units>
						</PixelSize>
						<ConcatRadius></ConcatRadius>
						<FocusOffset></FocusOffset>
						<EdgeSpeedRatio></EdgeSpeedRatio>
						<Option></Option>
						<AcquisitionVeiw></AcquisitionVeiw>
						<OpcEnable></OpcEnable>
						<TransLossEnable></TransLossEnable>
						<HighSensitivityEnable></HighSensitivityEnable>
						<DefectTypeList>
							<DefectType></DefectType>
							<Sensitivity></Sensitivity>
							<Small></Small>
							<Medium></Medium>
							<Large></Large>
							<XLarge></XLarge>
						</DefectTypeList>
						<LithoFilter></LithoFilter>
						<CaptureParameters>
							<TdiImgHeight></TdiImgHeight>
							<SwBtmTopUnusablePixs></SwBtmTopUnusablePixs>
							<MaxP0P1YOffsetPix></MaxP0P1YOffsetPix>
							<AlgoOverlap></AlgoOverlap>
							<ArfName></ArfName>
						</CaptureParameters>
					</PiicSettings>
