OnGrid:
$util.formatWidth("10", "Coord_X")$util.formatWidth("10", "Coord_Y")$util.formatWidth("10", "Size")$util.formatWidth("10", "Cap.Ratio")
#foreach($data in $matchedDefectsVector )
$util.formatWidth("10",$data.getX())$util.formatWidth("10", $data.getY())$util.formatWidth("10", $data.getSize())$util.formatWidth("10", $data.getCaptureRatio())
#end
OffGrid:
$util.formatWidth("10", "Coord_X")$util.formatWidth("10", "Coord_Y")$util.formatWidth("10", "Size")$util.formatWidth("10", "Cap.Ratio")
#foreach($data in $unMatchedDefectsVector )
$util.formatWidth("10",$data.getX())$util.formatWidth("10", $data.getY())$util.formatWidth("10", $data.getSize())$util.formatWidth("10", $data.getCaptureRatio())
#end