#ifnotnull($inspArea.getSensitivity())
$util.addDefaultSensitivityFlexKnob($inspArea)
#set($concatRatio = $inspArea.getSensitivity().getConcatRadius() / 1000.000)
					<Sensitivity
						AcquisitionView="$util.getAcquisitionVeiw($inspArea.getSensitivity().getViewName())"
						EdgeSpeedRatio="$util.getEdgeSpeedRatio($inspArea.getSensitivity().getEdgeSpeedRatio())" 
						ConcatRadius="$util.format($concatRatio)"
						OpcEnable="$util.format($util.getOPCorTransLossorHighSenseEnable($inspArea,false,true,false))" 
						TransLossEnable="$util.format($util.getOPCorTransLossorHighSenseEnable($inspArea,true,false,false))" 
						HighSensitivityEnable="$util.format($util.getOPCorTransLossorHighSenseEnable($inspArea,false,false,true))"> 
						<PixelSize
							X="$util.format($util.getSensitivityPixelSize($inspArea.getSensitivity().getPixelSize(), true))" 
							Y="$util.format($util.getSensitivityPixelSize($inspArea.getSensitivity().getPixelSize(), false))" />
						<DefectTypeList>
#set($flexknob=$inspArea.getSensitivity().getFlexKnobsArray())
#ifnotnull($flexknob)
#set($length = $flexknob.size())
#if($length > 0)
#foreach($knob in $flexknob)
#set($type=$knob.getFkType())
#if($type==0)
							<Defect
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Defect" 
								Min="$util.format($knob.getFkMin())" 
								Max="$util.format($knob.getFkMax())" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="$util.format($knob.getFkDefectID())" 
								MaxSmallBndry="$util.format($knob.getFkMaxSmallBndry())" 
								MaxMedBndry="$util.format($knob.getFkMaxMedBndry())" 
								MaxLargeBndry="$util.format($knob.getFkMaxLargeBndry())" 
								Small="$util.format($util.getFlexKnobString($knob.getFkSmallSeverity()))" 
								Medium="$util.format($util.getFlexKnobString($knob.getFkMedSeverity()))" 
								Large="$util.format($util.getFlexKnobString($knob.getFkLargeSeverity()))" 
								XLarge="$util.format($util.getFlexKnobString($knob.getFkExLargeSeverity()))" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#elseif($type==1)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Int" 
								Min="$util.format($knob.getFkMin())" 
								Max="$util.format($knob.getFkMax())" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#elseif($type==2)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($util.formatBehavior($knob.getFkValue()))" 
								Type="Bool" 
								Min="" 
								Max="" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#elseif($type==3)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($util.formatWidth("1",$knob.getFkFloatprecision(),$knob.getFkFloatvalue()))" 
								Type="Float" 
								Min="$util.format($util.formatWidth("1",$knob.getFkFloatprecision(),$knob.getFkFloatmin()))" 
								Max="$util.format($util.formatWidth("1",$knob.getFkFloatprecision(),$knob.getFkFloatmax()))" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="$util.format($knob.getFkFloatprecision())" />
#elseif($type==4)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Option" 
								Min="" 
								Max="" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="$util.format($util.getFlexKnobOptions($knob))" 
								RankValue="" 
								Precision="" />
#elseif($type==5)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFSValue())" 
								Type="FileSel" 
								Min="" 
								Max="" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="$util.format($knob.getFSExt())" 
								Directory="$util.format($knob.getFSDir())" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#elseif($type==6)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Rank" 
								Min="" 
								Max="" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="$util.format($util.getFlexKnobOptions($knob))" 
								Precision="" />
#elseif($type==7)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFSValue())" 
								Type="FileEdit" 
								Min="" 
								Max="" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="$util.format($knob.getFSExt())" 
								Directory="$util.format($knob.getFSDir())" 
								Edit="$util.format($knob.getFileEdit())" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#end
#end
#end
#end
#set($inspType = $util.getInspectionType($inspArea))
#if($inspType == 2 || $inspType ==  3)
#set($defectTypes = $inspArea.getSensitivity().getDefectTypes())
#foreach($index in [0..32])
#set($defectStr =$util.getDefectTypeForStarLight($inspArea,$index))
#if($defectStr!="")
							<Defect
								DefectType="$defectStr" 
								Value="$util.getLevel($inspArea,$index)" 
								Type="Defect" 
								Min="" 
								Max="" 
								DisplayMode="" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="$util.getSeverityForStarLight($inspArea,$index,0)" 
								Medium="$util.getSeverityForStarLight($inspArea,$index,1)" 
								Large="$util.getSeverityForStarLight($inspArea,$index,2)" 
								XLarge="$util.getSeverityForStarLight($inspArea,$index,3)" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#end
#end
#end
#if($inspArea.getSensitivity().getNumFlexKnobs()==0)
#set($defaultknob = $inspArea.getSensitivity().getDefaultKnob())
#if($defaultknob.size() > 0 )
#foreach($knob in $defaultknob)
#set($type=$knob.getFkType())
#if($type==0)
							<Defect
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Defect" 
								Min="$util.format($knob.getFkMin())" 
								Max="$util.format($knob.getFkMax())" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="$util.format($knob.getFkDefectID())" 
								MaxSmallBndry="$util.format($knob.getFkMaxSmallBndry())" 
								MaxMedBndry="$util.format($knob.getFkMaxMedBndry())" 
								MaxLargeBndry="$util.format($knob.getFkMaxLargeBndry())" 
								Small="$util.format($util.getFlexKnobString($knob.getFkSmallSeverity()))" 
								Medium="$util.format($util.getFlexKnobString($knob.getFkMedSeverity()))" 
								Large="$util.format($util.getFlexKnobString($knob.getFkLargeSeverity()))" 
								XLarge="$util.format($util.getFlexKnobString($knob.getFkExLargeSeverity()))" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#elseif($type==1)
							<Defect 
								DefectType="$util.format($knob.getFkName())" 
								Value="$util.format($knob.getFkValue())" 
								Type="Int" 
								Min="$util.format($knob.getFkMin())" 
								Max="$util.format($knob.getFkMax())" 
								DisplayMode="$util.format($knob.getFkEditMode())" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
#end
#end
#end
#end
						</DefectTypeList>
						<UpaLevel>$util.format($util.getUPALevel($inspArea))</UpaLevel>
#*						<LithoFilter>$util.format($util.getLithoFilter($inspArea))</LithoFilter>*#
					</Sensitivity>
#end
#ifnull($inspArea.getSensitivity())
					<Sensitivity
						ConcatRadius="" #* 
						FocusOffset="" *#
						EdgeSpeedRatio="" 
						AcquisitionVeiw="" 
						OpcEnable="" 
						TransLossEnable="" 
						HighSensitivityEnable="" 
						ExpandedDefectImageSize="" 
						LightFlucCorrection="" 
						RunRecursiveAligner="" 
						AlignerIgnoreCrMosiEdge="" >
						<PixelSize X=""  Y="" />
						<DefectTypeList>
							<Defect
								DefectType="" 
								Value="" 
								Type="" 
								Min="" 
								Max="" 
								DisplayMode="" 
								DefectID="" 
								MaxSmallBndry="" 
								MaxMedBndry="" 
								MaxLargeBndry="" 
								Small="" 
								Medium="" 
								Large="" 
								XLarge="" 
								Extension="" 
								Directory="" 
								Edit="" 
								OptionValue="" 
								RankValue="" 
								Precision="" />
						</DefectTypeList>
						<UpaLevel></UpaLevel> #*
						<LithoFilter></LithoFilter>*#
					</Sensitivity>
#end