			<Behavior 
				AutoSetup="$util.format($util.formatBehavior($recipe.getBehavior().getAutoSetup()))" 
				AutoInspect="$util.format($util.formatBehavior($recipe.getBehavior().getAutoInspect()))" 
				AutoReview="$util.format($util.formatBehavior($recipe.getBehavior().getAutoReview()))" 
				AutoUnload="$util.format($util.formatBehavior($recipe.getBehavior().getAutoUnload()))" 
				AbortJobOnError="$util.format($util.formatBehavior($recipe.getBehavior().getAbortJobOnError()))" 
				PrintAfterInspection="$util.format($util.formatBehavior($recipe.getBehavior().getPrintAfterInspection()))" 
				PrintAfterReview="$util.format($util.formatBehavior($recipe.getBehavior().getPrintAfterReview()))" 
				PrintFullReport="$util.format($util.formatBehavior($recipe.getBehavior().getprintFullReport()))" 
				StoreAfterInspection="$util.format($util.formatBehavior($recipe.getBehavior().getStoreAfterInspection()))" 
				StoreAfterReview="$util.format($util.formatBehavior($recipe.getBehavior().getStoreAfterReview()))" 
				StoreImages="$util.format($util.getStoreImages())" 
				DisplayNewDefects="$util.format($util.formatBehavior($recipe.getBehavior().getdisplayType()))" 
				IadDefectConcat="$util.format($util.formatBehavior($recipe.getBehavior().getIadDefectConcat()))" #* 
				PiicEnabled="$util.format($util.formatBehavior($recipe.getBehavior().getEnablePIIC()))" 
				ExpandPiicImageSize="$util.format($util.formatBehavior($recipe.getBehavior().getExpandPiicImgSize()))" *#
				VDLEnabled="$util.format($util.formatBehavior($recipe.getBehavior().getEnableVDL()))" 
				VDLArrayX="$util.format($util.formatBehavior($recipe.getBehavior().getXArrayVDL()))" 
				VDLFilename="$util.format($recipe.getBehavior().getVdlFilename())" 
				InspectionCount="$util.format($recipe.getBehavior().getInspectionCount())" 
				AbortFailCount="$util.format($recipe.getBehavior().getAbortFailCount())" 
				AbortWarnCount="$util.format($recipe.getBehavior().getAbortWarnCount())" 
				ZCalForP90="$util.format($util.formatBehavior($recipe.getBehavior().getZCalForP90()))" 
				ZCalForP125="$util.format($util.formatBehavior($recipe.getBehavior().getZCalForP125()))" 
				AutoDnir="$util.format($util.formatBehavior($recipe.getBehavior().getAutoDNIR()))" 
				DiagCalType="$util.format($util.getDiagCalTypeStr())"
#if($recipe.getBehavior().getEnableVDL()==1 ) 
				VdlParameters="$util.format($util.getVDLParameters())" 
#else
				VdlParameters="None" 
#end
				SpotCal="$util.formatBehavior($recipe.getBehavior().getSpotCal())" >
			</Behavior>
